# Tệp biến môi trường cục bộ
# KHÔNG BAO GIỜ commit tệp .env vào kho lưu trữ!
.env
.env*.local

# Tệp build và phụ thuộc
/node_modules
/dist

# Tệp log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Tệp hệ điều hành
.DS_Store
Thumbs.db

# Tệp IDE
.idea
.vscode/

# Tệp tạm của Vite
.vite/
